@font-face {
    font-family: "Mint Grotesk";
    src: url(../fonts/MintGroteskRegularTrial.otf);
}

body{
    font-family: 'Mint Grotesk';
}

nav{
    height: 30px;
}

main{
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}



.header{
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 10px;
}

.header__txt{
    position: relative;
    right: 70px;
}

.header__txt h3{
    width: 133px;
    height: 26px;
    font-size: 20px;
    font-weight: bold;
}

.header__txt p{
    font-size: 13px;
    width: 136px;
    height: 17px;
    color: #080613;
}

.header__image--img{
    width: 60px;
    height: 60px;
    border-radius: 1000px;
    position: relative;
    top: 20px;
    left: 55px;
    /* padding: 10px; */
}

.cards__card{
    margin-top: 30px;
    width: 315px;
    height: 364px;
    border-radius: 16px;
    background-size: cover;
    /* color: #fff; */
    color: #F8F7F8;
    padding: 10px;
}

.cards__card--card-1{
    background-image: url(../images/image5.jpg);
}

.cards__card--card-2{
    background-image: url(../images/image6.png);
}

.cards__card--card-3{
    background-image: url(../images/image2.jpg);
}

.cards__card--card-4{
    background-image: url(../images/image.jpg);
}

a{
    text-decoration: none;
    color: #F8F7F8;
    position: relative;
    top: 230px;
}

a h3{
    font-size: 23px;
    font-weight: bold;
    /* width: 166px; */
    /* height: 52px; */
}

.a__header{
    width: 166px;
    height: 52px;
}

a p{
    font-size: 12px;
}

.header__btn{
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    background: #FF4242;
    padding: 20px;
    position: relative;
    top: 30px;
}

input{
    width: 314px;
    height: 50px;
    background: #F8F7F8;
    border-radius: 25px;
    padding: 10px;
}